@model IEnumerable<GuestBookApp.Models.Message>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="entries">
    @await Html.PartialAsync("_GuestBookEntries", Model)
</div>

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js"></script>
}