
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GuestBookApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MusicLibraryApp.styles.css" asp-append-version="true" />
</head>

<body>
	<header>
		<section>
			<h2 class="header-title">Guest Book</h2>
		</section>
		<section>
			<div class="header-container">
				@if (string.IsNullOrEmpty(@Context.Session.GetString("Username")))
				{
					<a class="link-l" asp-controller="Account" asp-action="Login">Log In</a>
					<a class="link-r" asp-controller="Account" asp-action="Register">Sign Up</a>
				}
				else
				{
					<p class="greeting">Wellcome, @Context.Session.GetString("Username")</p>
					<a class="link-r" asp-controller="Account" asp-action="Logout">Log Out</a>
				}
			</div>
		</section>
	</header>

	<div class="container">
		@RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
