* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    background: #265284;
    background-image: url("..//background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 50px;
    width: 100%;
    background: #265284;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 .5rem 1rem #11111190;
    border: 1px solid black;
}

    header section {
        height: 100%;
        width: 50%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

.header-title {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-left: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.header-container {
    height: 100%;
    max-height: calc(100vh - 100px);
    width: 100%;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1px;
}

.link-r {
    height: 100%;
    width: auto;
    text-decoration: none;
    color: #265284;
    font-weight: bold;
    background: #fff;
    padding: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.link-l {
    height: 100%;
    width: auto;
    text-decoration: none;
    color: #265284;
    font-weight: bold;
    background: #fff;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.greeting {
    height: 100%;
    width: auto;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    margin-right: 20px;
}

.container {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#entries {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.card {
    height: auto;
    width: 100%;
    background: #265284aa;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.card-top {
    height: 20px;
    width: 100%;
}

.card-title {
    height: auto;
    width: 100%;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #265284;
    margin: 0;
}

    .card-title h5 {
        height: 100%;
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        margin-left: 20px;
    }

    .card-title h6 {
        height: 100%;
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        margin-right: 20px;
        margin-top: 2px;
        font-weight: normal;
    }

.card-text {
    height: auto;
    min-height: 80px;
    width: 100%;
    margin: 20px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-content {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #ffffff20;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #11111190;
    border: 1px solid #ffffff50;
}

.modal-header {
    height: 40px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #265284aa;
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

    .modal-header button {
        height: 100%;
        width: auto;
        text-decoration: none;
        color: #265284;
        font-weight: bold;
        background: #fff;
        padding: 1rem;
        border-top-right-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

#loginForm,
#registerForm,
#guestBookForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group {
    height: 4rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .5rem;
}

.form-control {
    height: 2rem;
    width: 100%;
    text-align: center;
}

.text-danger {
    height: auto;
    width: auto;
    text-align: center;
    color: #dc3545;
    font-weight: bold;
}

.btn {
    height: auto;
    width: 6rem;
}

.form-textarea {
    height: 280px;
    width: 400px;
    border-radius: .2rem;
    resize: none;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content:center;
    padding: 1rem;
}